<script type="text/x-handlebars" data-template-name="pattern">

  <div class="row">
    <div class="col s2">
      <ul class="section table-of-contents pinned pattern-navi-pinned">
        <li><a href="#pattern-purpose">Zweck</a></li>
        <li><a href="#pattern-general">Allgmein</a></li>
        <li><a href="#pattern-technically">Technisch</a></li>
      </ul>
    </div>

    <div class="col s10">
      {{#each item in model}}
        <h2>{{item.currentLang.name}}</h2>

        <p id="pattern-purpose" class="js-scrollspy">
          <h4>Zweck</h4>
          {{item.currentLang.purpose}}
        </p>

        <p id="pattern-general" class="js-scrollspy">
          <h4>Allgmein</h4>
          {{item.currentLang.general}}
        </p>

        <p id="pattern-technically" class="js-scrollspy">
          <h4>Technisch</h4>
          {{item.currentLang.technically}}
        </p>

        <p id="pattern-advantage" class="js-scrollspy">
          <h4>Vorteile</h4>
          {{item.currentLang.advantage}}
        </p>

        <p id="pattern-disadvantage" class="js-scrollspy">
          <h4>Nachteile</h4>
          {{item.currentLang.disadvantage}}
        </p>

        <p id="pattern-example" class="js-scrollspy">
          <h4>Beispiel</h4>
          {{item.currentLang.example}}
        </p>

      {{/each}}
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('.js-scrollspy').scrollSpy();
    });
  </script>

</script>