<script type="text/x-handlebars" data-template-name="patterns">

  <h1 class="content-headline" id="contentHeadline">Overview</h1>

  <div id="js-pattern-overview" class="pattern-overview row">

    <div class="col s12">
      <ul class="tabs">
        {{#each model as |item index|}}
          <li class="tab col s3">
            <a href="#tab{{index}} " title="{{item.currentLang.name}}">
              <span>{{item.currentLang.name}}</span>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>

    <br class="clearfix" />
    <br />

    {{#each model as |item index|}}
      <div id="tab{{index}}" class="col s12 m10 l8">
        {{item.currentLang.general}}
      </div>
    {{/each}}
  </div>

  <script>
    $(document).ready(function(){
      $('#js-pattern-overview .tabs').tabs();
    });
  </script>

</script>