<script type="text/x-handlebars" data-template-name="pattern">

  <div class="row patten-single-page">
    <div class="col s2">
      <ul class="section table-of-contents pinned pattern-navi-pinned">
        <li><a href="#pattern-general">Allgmein</a></li>
        <li><a href="#pattern-purpose">Zweck</a></li>
        <li><a href="#pattern-technically">Technisch</a></li>
        <li><a href="#pattern-advantage">Vorteile</a></li>
        <li><a href="#pattern-disadvantage">Nachteile</a></li>
        <li><a href="#pattern-example">Beispiel</a></li>
      </ul>
    </div>

    <div class="col s10">
      {{#each model as |item index|}}

       <h2>{{item.currentLang.name}}</h2>

       <p id="pattern-general" class="js-scrollspy">
          <h4>Allgmein</h4>
          {{item.currentLang.general}}
        </p>

        <p id="pattern-purpose" class="js-scrollspy">
          <h4>Zweck</h4>
          {{item.currentLang.purpose}}
        </p>

        <p id="pattern-technically" class="js-scrollspy">
          <h4>Technisch</h4>
          {{item.currentLang.technically}}
        </p>

        <p id="pattern-advantage" class="js-scrollspy">
          <h4>Vorteile</h4>
          {{item.currentLang.advantage}}
        </p>

        <p id="pattern-disadvantage" class="js-scrollspy">
          <h4>Nachteile</h4>
          {{item.currentLang.disadvantage}}
        </p>

        <p id="pattern-example" class="js-scrollspy">
          <h4>Beispiel</h4>
          {{item.currentLang.example}}
        </p>

      {{/each}}
    </div>
  </div>

</script>